<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/ico" href="logo.png">
	<link rel="stylesheet" href="index_style.css">
	<title>
		MediConnect
	</title>

	<p>
		<h1 class="my1">
			Mediconnect India
		</h1>
	</p>

</head>

<body>
	<nav>
		<p>
			My First Paragraph
			<ol>
				<li> <a href="about.css"></a></li>
			</ol>
		</p>
	</nav>
</body>
</html>