<!doctype html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="icon" type="image/ico" href="logo.png">
	<link rel="stylesheet" href="index_style.css">
	<title>
		MediConnect
	</title>

	<p>
		<center>
			<h1  class="my1">
				Mediconnect India
			</h1>
		</center>

	</p>

</head>
<strong>
	Upload
</strong>
<p>
	<input type="file" name="fileToUpload" id="fileToUpload"> 
</p>

<body>
	<nav>
		<p>
			My First Paragraph
			<ul>
				<li> <a href="index.html">    Home     </a>  </li>
				<li> <a href="about.html">    About    </a>  </li>				
				<li> <a href="services.html"> Services </a>  </li>
				<li> <a href="blog.html">     Blog     </a>  </li>
				<li> <a href="contact.html">  Contact  </a>  </li>
			</ul>
		</p>
	</nav>
</body>
</html>